@page
@*@model DoctorBob.UI.Pages.Home.HomeViewModel*@
@model DoctorBob.UI.Pages.RobotManager.IndexModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DoctorBob.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-image: url('Logo_Team 1.png')">
    <div class="container border" style="overflow: auto; height: 250px; padding: 20px">
        <h2>Roboter QuickInfo</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Name")
                    </th>
                    <th>
                        @Html.DisplayName("Aktueller Ort")
                    </th>
                    <th>
                        @Html.DisplayName("Power in %")
                    </th>
                    <th>
                        @Html.DisplayName("Aktivität")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Robot)
                {
                    <tr>
                        <td>
                            <img border="0" alt="robot" width="30" height="30" src="/images/robot.png" />
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayName(Model.GetCurrentLocationName(item.CurrentLocationId))
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Power)
                        </td>
                        <td>
                            @Html.DisplayName(Model.GetActivityName(item.ActivityId))
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="container border" style="justify-content:center; padding: 20px">
        <a type="submit" class="btn btn-primary" asp-area="" asp-page="/RobotManager/Index">Roboter-Dashboard</a>
        <a type="submit" class="btn btn-primary" asp-area="" asp-page="/PatientManager/Index">Patienten-Dashboard - @Html.DisplayName(Model.GetNumOfPatients())
            <img border="0" alt="Person" width="30" height="30" src="/images/person.png"/>
        </a>
        <a type="submit" class="btn btn-dark" asp-area="" asp-page="/OrderManager/Index">Aufträge</a>
        <a type="submit" class="btn btn-danger" asp-area="" asp-page="">Konfliktmanager</a>
    </div>
    <div class="container border" style="justify-content: center; padding: 20px">
        <a type="submit" class="btn btn-secondary" asp-area="" asp-page="/StaffManager/Index">Personal</a>
        <a type="submit" class="btn btn-secondary" asp-area="" asp-page="/DrugManager/Index">Medikamente</a>
        <a type="submit" class="btn btn-secondary" asp-area="" asp-page="/TherapyManager/Index">Therapien</a>
        <a type="submit" class="btn btn-secondary" asp-area="" asp-page="/RoomManager/Index">Raumverwaltung</a>
    </div>
</body>
</html>


