@page
@model DoctorBob.UI.Pages.RobotManager.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container border" style="padding: 20px">
    <div class="row" style="padding: 10px">
        <img border="0" width="40" height="40" src="/images/robot.png" />
        <div class="column" style="padding-left: 10px">
            <h2>@Html.DisplayFor(model => model.Robot.Id)</h2>
        </div>
        <div class="column" style="padding-left: 10px">
            <h2>- @Html.DisplayFor(model => model.Robot.Name)</h2>
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Location")
                    </th>
                    <th>
                        @Html.DisplayName("Power in %")
                    </th>
                    <th>
                        @Html.DisplayName("Aktivität")
                    </th>
                    <th>
                        @Html.DisplayName("Letzter Raum")
                    </th>
                    <th>

                    </th>
                    <th>
                        @Html.DisplayName("Bearbeitet")
                    </th>
                    <th>
                        @Html.DisplayName("User")
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayName(Model.GetLocationName(Model.Robot.CurrentLocationId))
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Robot.Power)
                    </td>
                    <td>
                        @Html.DisplayName(Model.GetActivityName(Model.Robot.ActivityId))
                    </td>
                    <td>
                        @Html.DisplayName(Model.GetLastRoomName(Model.Robot.LastRoomId))
                    </td>
                    <td>
                        @if (Model.Robot.Active)
                        {
                            <img border="0" width="55" height="30" src="/images/active.png" />
                        }
                        @if (!Model.Robot.Active)
                        {
                            <img border="0" width="55" height="30" src="/images/inactive.png" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Robot.ModifiedAt.DateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Robot.ModifiedBy)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr />
    @*<div>
        <h4>Änderungsverlauf</h4>
        <textarea rows="5" cols="142" name="description" readonly>
@Html.DisplayFor(model => model.Drug.History)
         </textarea>
    </div>*@
    <div style="padding: 20px">
        <a type="submit" class="btn btn-primary" asp-page="./Index">Liste Medikamente</a>
    </div>
</div>