@page
@model DoctorBob.UI.Pages.DrugManager.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<div class="container border" style="padding: 20px">
    <h5>Sind Sie sicher, dass dieses Medikament deaktiviert werden soll?</h5>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Drug.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Drug.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayName("Dosis in Milligramm")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Drug.DoseInMg)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayName("Zweck")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Drug.Description)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="Drug.Id" />
            <input type="submit" value="Deaktivieren" class="btn btn-danger" />
            <input type="submit" class="btn btn-primary" value="Zurück zu Liste" asp-page="./Index" />
        </form>
    </div>
    </div>
