@page
@model DoctorBob.UI.Pages.DrugManager.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container border" style="padding: 20px">
    <div class="row" style="padding: 10px">
        @if (Model.Drug.Id == 1)
        {
            <img border="0" width="40" height="40" src="/images/drug1.png" />
        }
        @if (Model.Drug.Id == 2)
        {
            <img border="0" width="40" height="40" src="/images/drug2.png" />
        }
        @if (Model.Drug.Id == 3)
        {
            <img border="0" width="40" height="40" src="/images/drug3.png" />
        }
        @if (Model.Drug.Id == 4)
        {
            <img border="0" width="40" height="40" src="/images/drug4.png" />
        }
        @if (Model.Drug.Id == 5)
        {
            <img border="0" width="40" height="40" src="/images/drug5.png" />
        }
        @if (Model.Drug.Id == 6)
        {
            <img border="0" width="40" height="40" src="/images/drug6.png" />
        }
        <div class="column" style="padding-left: 10px"><h3>@Html.DisplayFor(model => model.Drug.Name)</h3></div>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Drug.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drug.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Dosis in Milligramm")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drug.DoseInMg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Zweck")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drug.Description)
        </dd>
    </dl>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayName("Erstellt von")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drug.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Erstellt am")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drug.CreatedAt.DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Bearbeitet von")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drug.ModifiedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Bearbeitet am")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drug.ModifiedAt.DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Änderungsverlauf")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drug.History)
        </dd>
    </dl>
</div>
<div class="container border" style="padding: 20px">
    <a type="submit" class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Drug.Id">Bearbeiten</a>
    <a type="submit" class="btn btn-primary" asp-page="./Index">Zurück zu Liste</a>
</div>
