@page
@model DoctorBob.UI.Pages.DrugManager.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container border" style="padding: 20px">
    <div class="row" style="padding: 10px">
        @if (Model.Drug.Id == 1)
        {
            <img border="0" width="40" height="40" src="/images/drug1.png" />
        }
        @if (Model.Drug.Id == 2)
        {
            <img border="0" width="40" height="40" src="/images/drug2.png" />
        }
        @if (Model.Drug.Id == 3)
        {
            <img border="0" width="40" height="40" src="/images/drug3.png" />
        }
        @if (Model.Drug.Id == 4)
        {
            <img border="0" width="40" height="40" src="/images/drug4.png" />
        }
        @if (Model.Drug.Id == 5)
        {
            <img border="0" width="40" height="40" src="/images/drug5.png" />
        }
        @if (Model.Drug.Id == 6)
        {
            <img border="0" width="40" height="40" src="/images/drug6.png" />
        }
        <div class="column" style="padding-left: 10px">
            <h3>@Html.DisplayFor(model => model.Drug.Id)</h3>
        </div>
        <div class="column" style="padding-left: 10px">
            <h3>- @Html.DisplayFor(model => model.Drug.Name)</h3>
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Dosis in mg")
                    </th>
                    <th>
                        @Html.DisplayName("Zweck")
                    </th>
                    <th>
                    </th>
                    <th>
                        @Html.DisplayName("Zuletzt bearbeitet")
                    </th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.Drug.DoseInMg)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Drug.Description)
                        </td>
                        <td>
                            @if (Model.Drug.Active)
                            {
                                <img border="0" width="55" height="30" src="/images/active.png" />
                            }
                            @if (!Model.Drug.Active)
                            {
                                <img border="0" width="55" height="30" src="/images/inactive.png" />
                            }
                        </td>
                        <td>
                            @Html.DisplayName(Model.GetModifyInfo(Model.Drug.Id))
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
    <hr />
    <div>
        <h4>Änderungsverlauf</h4>
        <textarea rows="5" cols="142" name="description" readonly>
@Html.DisplayFor(model => model.Drug.History)
         </textarea>
    </div>
    <div style="padding: 20px">
        <a type="submit" class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Drug.Id">Bearbeiten</a>
        <a type="submit" class="btn btn-primary" asp-page="./Index">Zurück zu Liste</a>
    </div>
</div>
