@page
@model DoctorBob.UI.Pages.DrugManager.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Medikament</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Drug.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drug.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Dosis in Milligramm")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drug.DoseInMg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Verwendung / Zweck")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drug.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Erstellt von")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drug.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Erstellt am")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drug.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Bearbeitet von")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drug.ModifiedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Bearbeitet am")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drug.ModifiedAt)
        </dd>
    </dl>
</div>
<div>
    <a type="submit" class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Drug.Id">Bearbeiten</a> |
    <a type="submit" class="btn btn-primary" asp-page="./Index">Zurück zu Liste</a>
</div>
