@page
@model DoctorBob.UI.Pages.DrugManager.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="container border" style="display: flex; justify-content: space-between; padding: 20px ">
    <h2>Medikamente Spitalapotheke</h2>
    <div style="display: flex; justify-content: space-between">
        <a type="submit" class="btn btn-light" asp-page="Create">
            <img border="0" alt="new" width="35" height="35" src="/images/new.png" title="Hinzufügen" />
        </a>
        <div style="padding: 5px"></div>
        <form style="margin-top:10px">
            <p>
                <input type="text" name="SearchString">
                <input type="submit" value="Filter" />
            </p>
        </form>
    </div>
</div>

<div class="container border" style="overflow: auto; height: 400px; padding: 20px">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Nr")
                </th>
                <th>
                </th>
                <th>
                    @Html.DisplayName("Name")
                </th>
                <th>
                    @Html.DisplayName("Dosis in mg")
                </th>
                <th>
                    @Html.DisplayName("Zweck")
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Drug)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @if (item.Id == 1)
                        {
                            <img border="0" width="30" height="30" src="/images/drug1.png" />
                        }
                        @if (item.Id == 2)
                        {
                            <img border="0" width="30" height="30" src="/images/drug2.png" />
                        }
                        @if (item.Id == 3)
                        {
                            <img border="0" width="30" height="30" src="/images/drug3.png" />
                        }
                        @if (item.Id == 4)
                        {
                            <img border="0" width="30" height="30" src="/images/drug4.png" />
                        }
                        @if (item.Id == 5)
                        {
                            <img border="0" width="30" height="30" src="/images/drug5.png" />
                        }
                        @if (item.Id == 6)
                        {
                            <img border="0" width="30" height="30" src="/images/drug6.png" />
                        }
                        @if (item.Id > 6)
                        {
                            <img border="0" width="30" height="30" src="/images/drug_random.png" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DoseInMg)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @if (item.Active)
                        {
                            <img border="0" width="55" height="30" src="/images/active.png" />
                        }
                        @if (!item.Active)
                        {
                            <img border="0" width="55" height="30" src="/images/inactive.png" />
                        }
                    </td>
                    <td>
                        @if (item.Active)
                        {
                            <a asp-page="./Edit" asp-route-id="@item.Id">
                                <img border="0" alt="edit" width="20" height="20" src="/images/edit.png" title="Bearbeiten" />
                            </a>
                            <a asp-page="./Details" asp-route-id="@item.Id">
                                <img border="0" alt="view" width="20" height="20" src="/images/details.png" title="Details anzeigen" />
                            </a>
                            <a asp-page="./Delete" asp-route-id="@item.Id">
                                <img border="0" alt="delete" width="20" height="20" src="/images/delete.png" title="Deaktivieren" />
                            </a>
                        }
                        @if (!item.Active)
                        {
                            <a asp-page="./Details" asp-route-id="@item.Id">
                                <img border="0" alt="view" width="20" height="20" src="/images/details.png" title="Details anzeigen" />
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="container border" style="padding:20px">
    <div class="col-2">
        <a type="submit" class="btn btn-primary" value="Zurück zu Liste" asp-area="" asp-page="/Home/HomeView">Home</a>
    </div>
</div>
