@page
@model DoctorBob.UI.Pages.StaffManager.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container border" style="padding: 20px">
    <h5>Sind Sie sicher, dass der Mitarbeitende inaktiviert werden soll?</h5>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayName("Vorname")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Staff.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayName("Nachname")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Staff.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayName("Rolle")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayName(Model.GetRoleName(Model.Staff.RoleId))
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayName("Username")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Staff.Username)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="Staff.Id" />
            <input type="submit" value="Inaktivieren" class="btn btn-danger" />
            <input type="submit" class="btn btn-primary" value="Zurück zu Liste" asp-page="./Index" />
        </form>
    </div>
    </div>
