@page
@model DoctorBob.UI.Pages.StaffManager.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container border" style="padding: 20px">
    <div class="row" style="padding: 10px">
        @if (Model.Staff.RoleId == 1)
        {
            <img border="0" width="40" height="40" src="/images/nurse.png" />
        }
        @if (Model.Staff.RoleId == 2)
        {
            <img border="0" width="40" height="40" src="/images/doctor.png" />
        }
        @if (Model.Staff.RoleId == 3)
        {
            <img border="0" width="40" height="40" src="/images/chiefdoctor.png" />
        }
        @if (Model.Staff.RoleId == 4)
        {
            <img border="0" width="40" height="40" src="/images/anasthaesic.png" />
        }
        @if (Model.Staff.RoleId == 5)
        {
            <img border="0" width="40" height="40" src="/images/technic.png" />
        }
        @if (Model.Staff.RoleId == 6)
        {
            <img border="0" width="40" height="40" src="/images/admin.png" />
        }
        <div class="column" style="padding-left: 10px">
            <h2>@Html.DisplayFor(model => model.Staff.Id)</h2>
        </div>
        <div class="column" style="padding-left: 10px">
            <h2>- @Html.DisplayFor(model => model.Staff.FirstName)</h2>
        </div>
        <div class="column" style="padding-left: 10px">
            <h2>@Html.DisplayFor(model => model.Staff.LastName)</h2>
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Rolle")
                    </th>
                    <th>
                        @Html.DisplayName("Username")
                    </th>
                    <th>
                    </th>
                    <th>
                        @Html.DisplayName("Bearbeitet")
                    </th>
                    <th>
                        @Html.DisplayName("User")
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayName(Model.GetRoleName(Model.Staff.RoleId))
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Staff.Username)
                    </td>
                    <td>
                        @if (Model.Staff.Active)
                        {
                            <img border="0" width="55" height="30" src="/images/active.png" />
                        }
                        @if (!Model.Staff.Active)
                        {
                            <img border="0" width="55" height="30" src="/images/inactive.png" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Staff.ModifiedAt.DateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Staff.ModifiedBy)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr />
    <div>
        <h4>Änderungsverlauf</h4>
        <textarea rows="5" cols="142" name="description" readonly>
@Html.DisplayFor(model => model.Staff.History)
         </textarea>
    </div>
    <div style="padding: 20px">
        @if (Model.Staff.Active)
        {
            <a type="submit" class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Staff.Id">Bearbeiten</a>
        }
        <a type="submit" class="btn btn-primary" asp-page="./Index">Liste Personal</a>
    </div>
</div>