@page
@model DoctorBob.UI.Pages.StaffManager.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Personal Verwaltung</h1>

<p>
    <a asp-page="Create">Neues Personal erfassen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Staff[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff[0].Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff[0].ModifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff[0].ModifiedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model.Staff) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
