@page
@model DoctorBob.UI.Pages.StaffManager.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="container border" style="display: flex; justify-content: space-between; padding: 20px ">
    <h2>Personal Verwaltung</h2>
    <div style="display: flex; justify-content: space-between">
        <a type="submit" class="btn btn-light" asp-page="Create">
            <img border="0" alt="new" width="35" height="35" src="/images/new.png" title="Hinzufügen" />
        </a>
        <div style="padding: 5px"></div>
        <form style="margin-top:10px">
            <p>
                <input type="text" name="SearchString">
                <input type="submit" value="Filter" />
            </p>
        </form>
    </div>
</div>

<div class="container border" style="overflow: auto; height: 400px; padding: 20px">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Nr")
                </th>
                <th>
                </th>
                <th>
                    @Html.DisplayName("Name")
                </th>
                <th>
                    @Html.DisplayName("Rolle")
                </th>
                <th>
                    @Html.DisplayName("Benutzername")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Staff)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @if (item.RoleId == 1)
                        {
                            <img border="0" width="30" height="30" src="/images/nurse.png" />
                        }
                        @if (item.RoleId == 2)
                        {
                            <img border="0" width="30" height="30" src="/images/doctor.png" />
                        }
                        @if (item.RoleId == 3)
                        {
                            <img border="0" width="30" height="30" src="/images/chiefdoctor.png" />
                        }
                        @if (item.RoleId == 4)
                        {
                            <img border="0" width="30" height="30" src="/images/anasthaesic.png" />
                        }
                        @if (item.RoleId == 5)
                        {
                            <img border="0" width="30" height="30" src="/images/technic.png" />
                        }
                        @if (item.RoleId == 6)
                        {
                            <img border="0" width="30" height="30" src="/images/admin.png" />
                        }
                    </td>
                    <td>
                        @Html.DisplayName(Model.GetStaffName(item.Id))
                    </td>
                    <td>
                        @Html.DisplayName(Model.GetRoleName(item.RoleId))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">
                            <img border="0" alt="edit" width="20" height="20" src="/images/edit.png" title="Bearbeiten" />
                        </a>
                        <a asp-page="./Details" asp-route-id="@item.Id">
                            <img border="0" alt="view" width="20" height="20" src="/images/details.png" title="Details anzeigen" />
                        </a>
                        <a asp-page="./Delete" asp-route-id="@item.Id">
                            <img border="0" alt="delete" width="20" height="20" src="/images/delete.png" title="Löschen" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="container border" style="padding:20px">
    <div class="col-2">
        <a type="submit" class="btn btn-primary" value="Zurück zu Liste" asp-area="" asp-page="/Home/HomeView">Home</a>
    </div>
</div>
