@page
@model DoctorBob.UI.Pages.PatientManager.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container border" style="padding: 20px">
    <div class="row" style="padding: 10px">
        @if (Model.Patient.GenderId == 1)
        {
            @if (Model.Patient.Id == 1001)
            {
                <img border="0" width="50" height="60" src="/images/gobbo.png" />
            }
            @if (Model.Patient.Id != 1001)
            {
                <img border="0" width="40" height="40" src="/images/male.png" />
            }
        }
        @if (Model.Patient.GenderId == 2)
        {
            <img border="0" width="40" height="40" src="/images/female.png" />
        }
        @if (Model.Patient.GenderId == 3)
        {
            <img border="0" width="40" height="40" src="/images/divers.png" />
        }
        <div class="column" style="padding-left: 10px">
            <h2>@Html.DisplayFor(model => model.Patient.Id)</h2>
        </div>
        <div class="column" style="padding-left: 10px">
            <h2>- @Html.DisplayFor(model => model.Patient.FirstName)</h2>
        </div>
        <div class="column" style="padding-left: 10px">
            <h2>@Html.DisplayFor(model => model.Patient.LastName)</h2>
        </div>
        <div class="column" style="padding-left: 10px">
            <h2>- Raum @Html.DisplayFor(model => model.Patient.RoomId)</h2>
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Therapie")
                    </th>
                    <th>
                        @Html.DisplayName("Betreuung")
                    </th>
                    <th>
                        @Html.DisplayName("Eintritt")
                    </th>
                    <th>
                        @Html.DisplayName("Austritt")
                    </th>
                    <th>
                        @Html.DisplayName("Bearbeitet")
                    </th>
                    <th>
                        @Html.DisplayName("User")
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayName(Model.GetTherapyName(Model.Patient.TherapyId))
                    </td>
                    <td>
                        @Html.DisplayName(Model.GetStaffName(Model.Patient.CaringStaffId))
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Patient.EntryDate)
                    </td>
                    <td>
                        @if (Model.Patient.LeavingDate == new DateTime(1, 1, 1, 0, 0, 0))
                        {
                            @Html.DisplayName("");
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.Patient.LeavingDate);
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Patient.ModifiedAt.DateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Patient.ModifiedBy)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr />
    <div>
        <h4>Anamnese</h4>
        <textarea rows="3" cols="142" name="description" readonly>
@Html.DisplayFor(model => model.Patient.MedicalHistory)
         </textarea>
    </div>
    <div>
        <h4>Änderungsverlauf</h4>
        <textarea rows="5" cols="142" name="description" readonly>
@Html.DisplayFor(model => model.Patient.History)
         </textarea>
    </div>
    <div style="padding: 20px">
        @if (!Model.Patient.Active)
        {
            <a type="submit" class="btn btn-primary" asp-page="./ReEntry" asp-route-id="@Model.Patient.Id">Wiedereintritt</a>
        }
        @if (Model.Patient.Active)
        {
            <a type="submit" class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Patient.Id">Bearbeiten</a>
        }
        <a type="submit" class="btn btn-primary" asp-page="./Index">Liste Patienten</a>
    </div>
</div>
