@page
@model DoctorBob.UI.Pages.PatientManager.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Patienten Verwaltung</h1>

<p>
    <a asp-page="Create">Patient erfassen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Vorname")
            </th>
            <th>
                @Html.DisplayName("Nachname")
            </th>
            <th>
                @Html.DisplayName("Geschlecht")
            </th>
            <th>
                @Html.DisplayName("Raum")
            </th>
            <th>
                @Html.DisplayName("Therapie")
            </th>
            <th>
                @Html.DisplayName("Eintritt")
            </th>
            <th>
                @Html.DisplayName("Austritt")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Patient) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Therapy.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeavingDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
