@page
@model DoctorBob.UI.Pages.PatientManager.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Patienten Verwaltung</h1>

<p>
    <a type="submit" class="btn btn-light" asp-page="Create">
        <img border="0" alt="new" width="40" height="40" src="/images/new.png" title="Hinzufügen" />
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Vorname")
            </th>
            <th>
                @Html.DisplayName("Nachname")
            </th>
            <th>
                @Html.DisplayName("Geschlecht")
            </th>
            <th>
                @Html.DisplayName("Raum")
            </th>
            <th>
                @Html.DisplayName("Therapie")
            </th>
            <th>
                @Html.DisplayName("Eintritt")
            </th>
            <th>
                @Html.DisplayName("Austritt")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
@foreach (var item in Model.Patient) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayName(Model.GetGenderName(item.GenderId))
            </td>
            <td>
                @Html.DisplayName(Model.GetRoomName(item.RoomId))
            </td>
            <td>
                @Html.DisplayName(Model.GetTherapyName(item.TherapyId))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryDate)
            </td>
            <td>
                @if (item.LeavingDate == new DateTime(1, 1, 1, 0, 0, 0))
                {
                    @Html.DisplayName("");
                }
                else {
                @Html.DisplayFor(modelItem => item.LeavingDate);
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">
                    <img border="0" alt="edit" width="20" height="20" src="/images/edit.png" title="Bearbeiten" />
                </a>
                <a asp-page="./Details" asp-route-id="@item.Id">
                    <img border="0" alt="view" width="20" height="20" src="/images/details.png" title="Details anzeigen" />
                </a>
                <a asp-page="./Delete" asp-route-id="@item.Id">
                    <img border="0" alt="delete" width="20" height="20" src="/images/delete.png" title="Löschen" />
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="form-group row">
    <div class="col-2">
        <a type="submit" class="btn btn-primary" value="Zurück zu Liste" asp-area="" asp-page="/Home/HomeView">Home</a>
    </div>
</div>
