@page
@model DoctorBob.UI.Pages.TimeModelManager.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container border" style="padding: 20px">
    <div class="row" style="padding: 10px">
        <div class="column" style="padding-left: 10px">
            <h2>Zeitmodell Nr. @Html.DisplayFor(model => model.TimeModel.Id)</h2>
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Zeit")
                    </th>
                    <th>
                        @Html.DisplayName("Anzahl pro Tag")
                    </th>
                    <th>
                    </th>
                    <th>
                        @Html.DisplayName("Bearbeitet")
                    </th>
                    <th>
                        @Html.DisplayName("User")
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.TimeModel.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TimeModel.DailyNumber)
                    </td>
                    <td>
                        @if (Model.TimeModel.Active)
                        {
                            <img border="0" width="55" height="30" src="/images/active.png" />
                        }
                        @if (!Model.TimeModel.Active)
                        {
                            <img border="0" width="55" height="30" src="/images/inactive.png" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TimeModel.ModifiedAt.DateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TimeModel.ModifiedBy)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr />
    <div>
        <h4>Änderungsverlauf</h4>
        <textarea rows="5" cols="142" name="description" readonly>
@Html.DisplayFor(model => model.TimeModel.History)
         </textarea>
    </div>
    <div style="padding: 20px">
        @if (Model.TimeModel.Active)
        {
            <a type="submit" class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.TimeModel.Id">Bearbeiten</a>
        }
        <a type="submit" class="btn btn-primary" asp-page="./Index">Liste Zeitmodelle</a>
    </div>
</div>
