@page
@model DoctorBob.UI.Pages.TimeModelManager.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Zeitmodelle</h1>

<p>
    <a asp-page="Create">Neues Zeitmodell erfassen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TimeModel[0].Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeModel[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeModel[0].ModifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeModel[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeModel[0].ModifiedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TimeModel)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedAt)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-2">
                <input type="submit" class="btn btn-secondary" value="Zeitmodelle" asp-area="" asp-page="/TimeManager/Index" />
            </div>
        </div>
    </form>
</div>
