@page
@model DoctorBob.UI.Pages.TimeModelManager.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Zeitmodelle</h1>

<p>
    <a type="submit" class="btn btn-light" asp-page="Create">
        <img border="0" alt="new" width="40" height="40" src="/images/new.png" title="Hinzufügen" />
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("ID")
            </th>
            <th>
                @Html.DisplayName("Zeiten")
            </th>
            <th>
                @Html.DisplayName("Anzahl pro Tag")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TimeModel)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DailyNumber)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">
                        <img border="0" alt="edit" width="20" height="20" src="/images/edit.png" title="Bearbeiten" />
                    </a>
                    <a asp-page="./Details" asp-route-id="@item.Id">
                        <img border="0" alt="view" width="20" height="20" src="/images/details.png" title="Details anzeigen" />
                    </a>
                    <a asp-page="./Delete" asp-route-id="@item.Id">
                        <img border="0" alt="delete" width="20" height="20" src="/images/delete.png" title="Löschen" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="form-group row">
    <form method="post">
        <a type="submit" class="btn btn-primary" asp-area="" asp-page="/TherapyManager/Index">Therapien</a>
        <a type="submit" class="btn btn-primary" value="Zurück zu Liste" asp-area="" asp-page="/Home/HomeView">Home</a>
    </form>
</div>

