@page
@model DoctorBob.UI.Pages.ConflictManager.IndexModel

@{
    ViewData["Title"] = "Index";
}

    <div class="container border" style="display: flex; justify-content: space-between; padding: 20px ">
        <h2>Konfliktmanager</h2>
        <div style="display: flex; justify-content: space-between">
            <div style="padding: 5px"></div>
            <form style="margin-top:10px">
                <p>
                    <input type="text" name="SearchString">
                    <input type="submit" value="Heute" />
                </p>
            </form>
        </div>
    </div>

    <div class="container border" style="overflow: auto; height: 400px; padding: 20px">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Nr")
                    </th>
                    <th>
                        @Html.DisplayName("Roboter")
                    </th>
                    <th>
                        @Html.DisplayName("Liste Patienten")
                    </th>
                    <th>
                        @Html.DisplayName("Status")
                    </th>
                    <th></th>
                    <th>
                        @Html.DisplayName("Ausgeführt")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Order)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayName(Model.GetRobotName(item.RobotId))
                        </td>
                        <td>
                            @foreach (var orderPatient in item.OrderPatients)
                            {
                                @Html.DisplayName(Model.GetPatient(orderPatient.Patient.Id));
                                <br />
                            }
                        </td>
                        <td>
                            @Html.DisplayName(Model.GetStateName(item.StateId))
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Message)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt.DateTime)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="container border" style="padding:20px">
        <div class="col-2">
            <a type="submit" class="btn btn-primary" value="Zurück zu Liste" asp-area="" asp-page="/Home/HomeView">Home</a>
        </div>
    </div>
