@page
@model DoctorBob.UI.Pages.TherapyManager.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container border" style="padding: 20px">
    <h5>Sind Sie sicher, dass diese Therapie deaktiviert werden soll?</h5>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Therapy.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Therapy.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayName("Anzahl")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Therapy.QuantityOfDrug)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayName("Medikament")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayName(Model.GetDrugName(Model.Therapy.DrugId))
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayName("Zeitmodell")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Therapy.TimeModel.Id)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="Therapy.Id" />
            <input type="submit" value="Deaktivieren" class="btn btn-danger" />
            <input type="submit" class="btn btn-primary" value="Zurück zu Liste" asp-page="./Index" />
        </form>
    </div>
    </div>
