@page
@model DoctorBob.UI.Pages.TherapyManager.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container border" style="padding: 20px">
    <div class="row" style="padding: 10px">
        <div class="column" style="padding-left: 10px">
            <h2>@Html.DisplayFor(model => model.Therapy.Id)</h2>
        </div>
        <div class="column" style="padding-left: 10px">
            <h2>- @Html.DisplayFor(model => model.Therapy.Name)</h2>
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Anzahl")
                    </th>
                    <th>
                        @Html.DisplayName("Medikament")
                    </th>
                    <th>
                        @Html.DisplayName("Zeitmodell")
                    </th>
                    <th>
                        @Html.DisplayName("Verabreichung")
                    </th>
                    <th>
                        @Html.DisplayName("Verantwortung")
                    </th>
                    <th>

                    </th>
                    <th>
                        @Html.DisplayName("Bearbeitet")
                    </th>
                    <th>
                        @Html.DisplayName("User")
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Therapy.QuantityOfDrug)
                    </td>
                    <td>
                        <a asp-area="" asp-page="/DrugManager/Details" asp-route-id="@Model.Therapy.DrugId">
                            <img border="0" alt="view" width="20" height="20" src="/images/details.png" title="Details anzeigen" />
                        </a>
                        @Html.DisplayName(Model.GetDrugName(Model.Therapy.DrugId))
                    </td>
                    <td>
                        <a asp-area="" asp-page="/TimeModelManager/Details" asp-route-id="@Model.Therapy.TimeModelId">
                            <img border="0" alt="view" width="20" height="20" src="/images/details.png" title="Details anzeigen" />
                        </a>
                        @Html.DisplayFor(model => model.Therapy.TimeModelId)
                    </td>
                    <td>
                        @Html.DisplayName(Model.GetIntakeCategoryName(Model.Therapy.IntakeCategoryId))
                    </td>
                    <td>
                        @Html.DisplayName(Model.GetStaffName(Model.Therapy.ResponsibleStaffId))
                    </td>
                    <td>
                        @if (Model.Therapy.Active)
                        {
                            <img border="0" width="55" height="30" src="/images/active.png" />
                        }
                        @if (!Model.Therapy.Active)
                        {
                            <img border="0" width="55" height="30" src="/images/inactive.png" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Therapy.ModifiedAt.DateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Therapy.ModifiedBy)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr />
    <div>
        <h4>Änderungsverlauf</h4>
        <textarea rows="5" cols="142" name="description" readonly>
@Html.DisplayFor(model => model.Therapy.History)
         </textarea>
    </div>
    <div style="padding: 20px">
        @if (Model.Therapy.Active)
        {
            <a type="submit" class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Therapy.Id">Bearbeiten</a>
        }
        <a type="submit" class="btn btn-primary" asp-page="./Index">Liste Therapien</a>
    </div>
</div>
