@page
@model DoctorBob.UI.Pages.TherapyManager.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="container border" style="display: flex; justify-content: space-between; padding: 20px ">
    <h2>Therapie Verwaltung</h2>
    <div style="display: flex; justify-content: space-between">
        <a type="submit" class="btn btn-light" asp-page="Create">
            <img border="0" alt="new" width="35" height="35" src="/images/new.png" title="Hinzufügen" />
        </a>
        <div style="padding: 5px"></div>
        <form style="margin-top:10px">
            <p>
                <input type="text" name="SearchString">
                <input type="submit" value="Filter" />
            </p>
        </form>
    </div>
</div>

<div class="container border" style="overflow: auto; height: 400px; padding: 20px">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Nr")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Therapy[0].Name)
                </th>
                <th>
                    @Html.DisplayName("Medikament")
                </th>
                <th>
                    @Html.DisplayName("Zeitmodell")
                </th>
                <th>
                    @Html.DisplayName("Verabreichung")
                </th>
                <th>
                    @Html.DisplayName("Verantwortung")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Therapy)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-area="" asp-page="/DrugManager/Details" asp-route-id="@item.DrugId">
                            <img border="0" alt="view" width="20" height="20" src="/images/details.png" title="Details anzeigen" />
                        </a>
                        @Html.DisplayName(Model.GetDrugName(item.DrugId))
                    </td>
                    <td>
                        <a asp-area="" asp-page="/TimeModelManager/Details" asp-route-id="@item.TimeModelId">
                            <img border="0" alt="view" width="20" height="20" src="/images/details.png" title="Details anzeigen" />
                        </a>
                        @Html.DisplayFor(modelItem => item.TimeModelId)
                    </td>
                    <td>
                        @Html.DisplayName(Model.GetIntakeCategoryName(item.IntakeCategoryId))
                    </td>
                    <td>
                        @Html.DisplayName(Model.GetStaffName(item.ResponsibleStaffId))
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">
                            <img border="0" alt="edit" width="20" height="20" src="/images/edit.png" title="Bearbeiten" />
                        </a>
                        <a asp-page="./Details" asp-route-id="@item.Id">
                            <img border="0" alt="view" width="20" height="20" src="/images/details.png" title="Details anzeigen" />
                        </a>
                        <a asp-page="./Delete" asp-route-id="@item.Id">
                            <img border="0" alt="delete" width="20" height="20" src="/images/delete.png" title="Löschen" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="container border" style="padding:20px">
    <div class="form-group row" style="padding:10px">
        <form method="post">
            <a type="submit" class="btn btn-secondary" asp-area="" asp-page="/TimeModelManager/Index">Zeitmodelle</a>
            <a type="submit" class="btn btn-primary" value="Zurück zu Liste" asp-area="" asp-page="/Home/HomeView">Home</a>
        </form>
    </div>
</div>
