@page
@model DoctorBob.UI.Pages.RoomManager.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="container border" style="display: flex; justify-content: space-between; padding: 20px ">
    <h2>Raum Verwaltung</h2>
    <div style="display: flex; justify-content: space-between">
        <a type="submit" class="btn btn-light" asp-page="Create">
            <img border="0" alt="new" width="35" height="35" src="/images/new.png" title="Hinzufügen" />
        </a>
        <div style="padding: 5px"></div>
        <form style="margin-top:10px">
            <p>
                <input type="text" name="SearchString">
                <input type="submit" value="Filter" />
            </p>
        </form>
    </div>
</div>

<div class="container border" style="overflow: auto; height: 400px; padding: 20px">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Nr")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Room[0].Name)
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Room)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (Model.IsFree(item.Id) == 1)
                    {
                        <img border="0" width="55" height="30" src="/images/free.png" />
                    }
                    @if (Model.IsFree(item.Id) == 2)
                    {
                        <img border="0" width="55" height="30" src="/images/occupied.png" />
                    }
                </td>
                <td>
                    @if (item.Active)
                    {
                        <img border="0" width="55" height="30" src="/images/active.png" />
                    }
                    @if (!item.Active)
                    {
                        <img border="0" width="55" height="30" src="/images/inactive.png" />
                    }
                </td>
                <td>
                    @if (item.Active)
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Id">
                            <img border="0" alt="edit" width="20" height="20" src="/images/edit.png" title="Bearbeiten" />
                        </a>
                        <a asp-page="./Details" asp-route-id="@item.Id">
                            <img border="0" alt="view" width="20" height="20" src="/images/details.png" title="Details anzeigen" />
                        </a>
                        <a asp-page="./Delete" asp-route-id="@item.Id">
                            <img border="0" alt="delete" width="20" height="20" src="/images/delete.png" title="Inaktivieren" />
                        </a>
                    }
                    @if (!item.Active)
                    {
                        <a asp-page="./Details" asp-route-id="@item.Id">
                            <img border="0" alt="view" width="20" height="20" src="/images/details.png" title="Details anzeigen" />
                        </a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div class="container border" style="padding:20px">
    <div class="col-2">
        <a type="submit" class="btn btn-primary" value="Zurück zu Liste" asp-area="" asp-page="/Home/HomeView">Home</a>
    </div>
</div>
